################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/WeirdTool/appsettings.json
/.vs
/WeirdTool/bin
/WeirdTool/obj
/WeirdTool/appsettings.Development.json
/WeirdTool*.user
/WeirdTool/Properties/PublishProfiles
/.config
/WeChatMP/obj
