################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
bin
obj
/WeirdTool/appsettings.Development.json
*.user
/WeirdTool/Properties/PublishProfiles
/.config
/WeirdTool/appsettings.Development.json
/WeirdTool/appsettings.Production.json
