################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/appsettings.json
/.vs
/bin/Debug/net8.0
/obj
/appsettings.Development.json
